html {
    overflow:  hidden;
}


body {
    margin: 0%;
     
}

#photo {
    height: 100vh;
    position: absolute;
          
}


.flexContainer {  
    height: 100vh;
    display: flex;
    flex-wrap:  wrap;
    position: relative;
    
    
} 

.flexCell {
    width: calc(100%/7);
    margin: auto;
    text-align: center;
    color: white  ;
}




